.main_aboutus_container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  letter-spacing: 2px;
  text-align: center;

}
.aboutus_contianer_1{
  width: 23vw;
  
}
#aboutus_align{
text-align:justify;
}
.aboutus_contianer_2{
  width: 23vw;
}
.aboutus_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutus_img{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}