.categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  width: auto;
  max-width: 100vw;
  letter-spacing: 2px;
}

.categories-section-top {
  font-size: 2.5rem;
  color: #333;
}

.categories-section-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.category-card-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  width: auto;
}

.category-card-image {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.category-card-image-container {
  width: 100%;
}

.category-card-name {
  font-size: 1.2rem;
  color:gray;
}
