.categories-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  /* background-image: url("../Images/Background_images/15628817_5655049.jpg"); */
}

.categories-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  padding: 10px 10px;
  padding-bottom: 60px;
}

.categories-section-top {
  font-size: 2.5rem;
  color: #333;
}

.categories-section-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: -webkit-fill-available;
  gap: 10px;
}

.category-card-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  width: 160px;
}

.category-card-image {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.category-card-image-container {
  width: -webkit-fill-available;
}

.category-card-name {
  font-size: 1.4rem;
  color:gray;
}

@media (max-width: 1200px) {
  
   
  .category-card-image-container {
    width: 200px;
  }
}
    
    @media (max-width: 1000px) { 
      .category-card-image-container {
        width: 100px;
      }
      
    }
    
    @media (max-width: 900px) {
 
      
      .categories-section-top {
        font-size: 2rem;
      }
    
      
      .category-card-image-container {
        width: 100px;
      }
      .categories-section-top{
        width:400px;
        text-align: center;
        padding-left: 50px;
      }
      .category-card-name {
        font-size: 1.5rem;
      }
      
      
    }
    
   
     
    
    
    
    @media (max-width: 650px) {
     
      .categories-section-top {
        font-size: 1.5rem;

      }
    
      
      .category-card-image-container {
        width: 100px;
      }
    
      .category-card-name {
        font-size: 1rem;
      }

    }
    
    @media (max-width: 550px) {
      .categories-section-top {
        font-size: 1.2rem;

      }
    
      
      .category-card-image-container {
        width: 60px;
      }
    
      .category-card-name {
        font-size: 1rem;
      }

     
    }
    
    @media (max-width: 500px) {
      .categories-section-top {
        font-size: 1.3rem;

      }
    
      
      .category-card-image-container {
        width: 50px;
      }
      .category-card-name {
        font-size: .8rem;
      }
 
    }
    
    
    @media (max-width: 450px) {
      .categories-section-top {
        font-size: 1rem;

      }
      .category-card-image-container {
        width: 40px;
      }
      .category-card-name {
        font-size: .6rem;
      }
   
    }
    @media (max-width: 350px) {
    

      .categories-section-top {
        font-size: 1rem;

      }
      .category-card-image-container {
        width: 50px;
      }
      .category-card-name {
        font-size: .6rem;
      }
     .categories-section-bottom{
      padding-left: 40px;
     }
      
    }