.whychoose_us {
      display: flex;
      align-items: center;
      justify-content: center;
      /* background-image: url("../Images/Background_images/rb_2148806276.png"); */
}

.whychoose_us_inner{
      width: -webkit-fill-available;
      padding: 10px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 60px;
}
.whychoose_top {
      display: flex;
      align-items: center;
      justify-content: center;
}

.whychoose_bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      width: -webkit-fill-available;
}

.whychoose_card_layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 280px;
      /* border: 1px solid rgb(249, 247, 102); */
      border-radius: 7px;
      padding: 10px;
      gap:10px; 
}

.whychoose_card_image{
      width: 104px;
}
.choose_img {
      width:-webkit-fill-available;
      height: -webkit-fill-available;
}

.whychoose_card_title{
      /* font-size: 1.4rem; */
      color: #000000db;
      font-weight: 600;
}
.whychoose_card_description{
      /* font-size: 1.2rem; */
      text-align: center;
      color: gray;
      height: 75px;
}


@media (max-width:950px) {
      .whychoose_card_description{
            height: auto;
      }
}


@media (max-width:500px) {
      .whychoose_card_image{
            width: 70px;
      }
}

@media (max-width:350px) {
      .whychoose_card_image{
            width: 55px;
      }
      .whychoose_card_layout{
            gap: 4px;
      }
      .whychoose_us_inner{
            padding-bottom: 30px;
      }
}