.footer {
  background-color: rgb(9, 9, 9);
  color: #f4f4f4;
  border-top: 3px solid hsl(51, 100%, 48%);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  letter-spacing: 1px;
}

.footer_logo_img img {
  width: 225px;
  height: 137px;
}

.footer-top-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}


.footer-bottom-sec {
  font-weight: 400;
  color: gray;
  font-size: 1.1rem;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  width: 25%;
  /* padding-left: 2rem; */
  gap: 10px;

}

.footer-company-text {
  font-size: 1.2rem;
}

.footer_about_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  gap: 9px;

}
.about_item:hover{
    color: #007bff;
    cursor: pointer;
}

.footer_contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  width: 30%;
}

.foocon {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.foocon:hover{
  color: #007bff;
  cursor: pointer;
}

.foocon_img {
  width: 30px;
  height: 30px;
}

.foocon_img img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.foocon_text{
  max-width: 90%;
  text-align: left;
  word-wrap: break-word;
}

.social_media {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  width: -webkit-fill-available;
  justify-content: center;
}

.social-media-inner {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 50%;
}

.social-media-icon-sec {
  width: 20px;
  height: 20px;
}
.social-media-icon-sec:hover{
  color: #007bff;
  cursor: pointer;
}

.social-media-icon {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}