.footer {
  background-color: black;
  color: white;
  border-top: 3px solid hsl(51, 100%, 48%);
}

.footer-inner {
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  letter-spacing: 1px;
  padding: 20px 20px;
}

.footer_logo_img img {
  width: 225px;
  height: 137px;
}

.footer-top-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.footer-bottom-sec {
  font-weight: 400;
  color: #4a4545;
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  width: 30%;
  /* padding-left: 2rem; */
  gap: 10px;

}

.footer-company-text {
  /* font-size: 1.4rem; */
}

.footer_about_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-size: 1.15rem; */
  gap: 9px;

}

.about_item:hover {
  color: #007bff;
  cursor: pointer;
}

.footer_contact_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  width: 30%;
  /* font-size: 1.15rem; */
}

.foocon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: -webkit-fill-available;
  color: white;
  text-decoration: none;
}

.foocon:hover {
  color: #007bff;
  cursor: pointer;
}

.foocon_img {
  width: 30px;
  height: 30px;
}

.foocon_img img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.foocon_text {
  max-width: 90%;
  text-align: left;
  word-wrap: break-word;

}
.foocon_text a{
  text-decoration: none;

}

.social_media {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: center;
}

.social-media-inner {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: auto;
}

.social-media-icon-sec {
  width: 25px;
  height: 25px;
}

.social-media-icon-sec:hover {
  color: #007bff;
  cursor: pointer;
}

.social-media-icon {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}


@media (max-width: 1200px) {

  .footer-logo-section,
  .footer_contact_section {
    width: 35%;
  }

  .footer-logo-section {
    gap: 0px
  }

  /* .footer_about_section,
  .footer_contact_section {
    font-size: 1.08rem;
  } */

  .footer-company-text {
    /* font-size: 1.2rem; */
    padding: 0px 20px;
  }
}

@media (max-width: 1000px) {

  .footer-logo-section,
  .footer_contact_section {
    width: 40%;
  }

}

@media (max-width: 900px) {

  .footer_logo_img img {
    width: 165px;
    height: auto;
  }

  .footer-top-sec {
    gap: 30px;
  }

  .footer-logo-section,
  .footer_about_section {
    width: 45%;
  }

  .footer_contact_section {
    width: -webkit-fill-available;
    padding-left: 2%;
    padding-top: 10px;
  }


}

@media (max-width: 800px) {

  .footer_logo_img img {
    width: 165px;
    height: auto;
  }

}

@media (max-width: 650px) {

  .footer-company-text {
    padding: 0px;
  }

  .footer_contact_section {
    padding-left: 1%;
  }
}

@media (max-width: 550px) {

  .footer_logo_img img {
    width: 125px;
  }

  .footer-company-text {
    /* font-size: 1.4rem; */
    padding: 0px;
  }

  .footer-logo-section {
    width: 50%;
  }

  .footer_about_section {
    width: 33%;
    /* font-size: 1.17rem; */
  }

  .footer_contact_section {
    /* font-size: 1.17rem; */
  }

  .footer-bottom-sec {
    /* font-size: 1rem; */
  }
}

@media (max-width: 500px) {
  .footer-logo-section {
    width: 65%;
  }

  .footer_about_section {
    width: 25%;
  }
}


@media (max-width: 450px) {
  .footer-logo-section {
    width: -webkit-fill-available;
  }

  .footer_about_section {
    width: -webkit-fill-available;
    gap: 5px;
  }

  .footer_contact_section {
    padding: 0px;
  }
}

@media (max-width: 350px) {

  .footer-company-text {
    padding: 0px 0px;
  }

  .footer-inner {
    padding: 15px 12px;
    gap: 24px;
  }

  .footer_contact_section {
    gap: 6px;
  }

  .footer-top-sec {
    gap: 20px;
  }

  .foocon {
    gap: 5px;
  }

  .social-media-icon-sec {
    width: 20px;
    height: 20px;
  }
}