.map-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      /* background-image: url("../Images/Background_images/4857390.jpg");  */
}

.map-container iframe {
      border-radius: 0px;
      border: none;
      width: 100%;
      height: 400px;
}

@media (max-width: 900px) {

      .map-container iframe {
            height: 350px;
      }
}

@media (max-width: 700px) {

      .map-container iframe {
            height: 310px;
      }
}


@media (max-width: 520px) {

      .map-container iframe {
            height: 270px;
      }
}

@media (max-width: 370px) {

      .map-container iframe {
            height: 215px;
      }
}