.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background: #f4f4f9;
    position: sticky;
    font-size: 1.1rem;
    letter-spacing: 2px;
  }

.navbar_logo{
    width: 8%;
}
.logo{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.navbar_links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
.navbar_logo img:hover {
    transform: scale(1.1);
}

.navbar_items:hover {
    border-radius: 5rem;
    color: #007bff;
    cursor: pointer;
}
