.navbar {
     display: flex;
    align-items:center;
    background: #f4f4f9;
    position: sticky;
    justify-content:center;
    gap: 1000px;
    font-weight: 400;
    font-size: 1.1rem;
  }

.navbar_logo{
    width: 8%;
}
.logo{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.navbar_links{
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 80px;
}

.navbar_logo img:hover {
    transform: scale(1.1);
}

.navbar_items:hover {
    border-radius: 5rem;
    color: #007bff;
    cursor: pointer;
}
