#root {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

body{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

p{
    margin: 0;
}

.h2, h3{
  font-family: system-ui;
}

.website_heading_text{
  color: #929090;
  padding: 25px 0px;
  font-size: 2rem;
}

/* .website_heading_text {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #333;
} */

.slick-prev, .slick-next {
  width: 19px;
  height: 18px;
  border-radius: 50%;
  background-color: #cdcdcd;
}

.slick-prev{
  left:-20px;
}
.slick-next{
  right: -20px;
}