#root {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

body{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

p{
    margin: 0;
}

.h2, h3{
  font-family: system-ui;
}

.website_heading_text{
  color: #929090;
  padding: 25px 0px;
}