.let_connect_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: black;
      max-width: 100%;
}

.let-connect-top {
      display: flex;
      flex-direction: column;
      padding: 10px;
      padding-top: 45px;
      padding-bottom: 30px;
      gap: 5px;
}

.let-connect-top-title,
.let-connect-top-description {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.let-connect-top-title {
      color: white;
      font-size: 2rem;
}

.let-connect-top-description {
      color: #787676;
      font-size: 1.2rem;
}

.connect_form {
      display: flex;
      flex-direction: row;
}

.input_button {
      height: 5vh;
      width: 23vw;
      border-radius: 12px;
      padding: 5px 20px 5px 25px;
      font-size: 1.2rem;
      border: none;
}

.connect_button {
      height: 6.3vh;
      width: 8vw;
      border-radius: 13px;
      border: none;
      font-size: 1.3rem;
      padding: 5px 20px 5px 20px;
      margin-left: -20px;
      background-color: rgb(163, 161, 161);
}

.let-connect-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      max-width: 100%;
      width: -webkit-fill-available;
      color: white;
      background-color: #43434340;
      padding: 20px 10px;
      flex-wrap: wrap;
}


.let_connect_bottom_items {
      display: flex;
      flex-direction: row;
      font-size: 1.17rem;
      justify-content: space-around;
      align-items: center;
      gap: 12px;
}

.let_connect_bottom_items:hover {
      color: #007bff;
      cursor: pointer;
}

.letconnect_img {
      width: 30px;
      height: 30px;
}

.letconnect_img img {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
}

.letconnect_text {
      max-width: 100%;
      text-align: left;
      word-wrap: break-word;
}


@media (max-width:850px) {
      
      .let_connect_bottom_items{
            width: -webkit-fill-available;
            justify-content: flex-start;
      }
      .let-connect-bottom{
            gap: 12px;
      }
}

@media (max-width:350px) {
      
      .let-connect-top-title{
            font-size: 1.8rem;
      }
      .let-connect-top-description{
            font-size: 1.1rem;
      }
      .let-connect-top{
            gap:0px;
      }
}