.marble_main {
      display: flex;
      justify-content: center;
      align-items: center;
}

.marble_main_inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 10px;
      width: -webkit-fill-available;
}

.marble_text {
      display: flex;
      justify-content: center;
      align-items: center;
}

.marble_inner_type_sec {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
}

.marble_type_deatils {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      gap: 7px;
      cursor: pointer;
}

.marble_type_img {
      width: -webkit-fill-available;

}

.marble_type_image {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      border-radius: 3px;
}

.marble_type_text {
      font-size: 1.2rem;
      font-weight: 600;
      color: #000000db;
}

.marble_inner_bottom {
      width: -webkit-fill-available;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -51px;
}

.marble_explore_button {
      width: 100px;
      padding: 10px;
      border-radius: 6px;
      background-color: #00000000;
      color: #070707;
      border: none;
      font-weight: 600;
      box-shadow: 0px 0px 3px 0px gray;
      cursor: pointer;
}

/* .marble_details_section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      font-size: 1.2rem;
      letter-spacing: 1px;
}

.marble_image_section {
      height: 300px;
      width: 600px;

}

.marble_details {
      width: 450px;
}


.marble_details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: justify;
}

.marble_type_section {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: center;

}

.marble_type_div {
      width: 15%;
      height: 15%;

}

.marble_type_img {}

.marble_image {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
}

.marble_type_image {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
}

.explore_button {
      width: 400px;
      padding: 15px;
      border-radius: 2px;
      border: none;
      background-color: #c0a344;
      color: white;

}

.explore_button:hover {
      background-color: #124046;
      border-radius: 10px;

}

.marble_explore_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2rem;
}

@media (max-width:1050px) {
      .marble_type_div {
            width: 190px;

      }

      .marble_image_section {
            width: 400px;
            height: 260px;
      }

      .marble_details {
            width: 400px;
            padding: 10px;
      }

      .explore_button {
            width: 270px;
      }


}

@media(max-width:970px) and (min-width:750px) {

      .marble_type_div {
            width: 170px;

      }

      .marble_image_section {
            width: 400px;
            height: 260px;
      }

      .explore_button {
            width: 270px;
      }


}

@media (max-width:749px) and (min-width:650px) {
      .marble_main {

            padding: 10px;

      }

      .marble_image_section {
            width: 280px;
            height: 260px;
      }

      .marble_details_section {
            font-size: 1.1rem;
      }


      .explore_button {
            width: 270px;
      }

      .marble_type_div {
            width: 150px;
            height: 200px;
      }

      .marble_type_div {
            font-size: .8rem;
      }


}

@media (max-width:649px) and (min-width:550px) {
      .marble_details {
            font-size: .9rem;
      }

      .explore_button {
            width: 270px;
      }

      .marble_type_div {
            width: 150px;
            height: 200px;
      }

      .marble_type_div {
            font-size: .8rem;
      }
}

@media (max-width:549px) and (min-width:500px) {
      .marble_details {
            width: 400px;
            font-size: .89rem;
      }

      .marble_image_section {
            width: 230px;
            height: 260px;
      }

      .explore_button {
            width: 200px;
      }

      .marble_type_div {
            width: 130px;
            height: 180px;
      }

      .marble_type_div {
            font-size: .8rem;
      }
}

@media (max-width:499px) and (min-width:450px) {
      .marble_details {
            width: 400px;
            font-size: .83rem;
      }

      .marble_image_section {
            width: 230px;
            height: 260px;
      }

      .explore_button {
            width: 200px;
      }

      .marble_type_div {
            width: 130px;
            height: 180px;
      }

      .marble_type_div {
            font-size: .63rem;
      }
}

@media (max-width:449px) and (min-width:400px) {
      .marble_details {
            width: 400px;
            font-size: .81rem;
      }

      .marble_image_section {
            width: 190px;
            height: 260px;
      }

      .explore_button {
            width: 170px;
      }

      .marble_type_div {
            width: 110px;
            height: 160px;
      }

      .marble_type_div {
            font-size: .63rem;
      }
}


@media (max-width:399px) and (min-width:300px) {
      .marble_details {
            width: 250px;
            font-size: .61rem;
      }

      .marble_image_section {
            width: 170px;
            height: 200px;
      }

      .explore_button {
            width: 170px;
      }

      .marble_type_div {
            width: 100px;
            height: 150px;
      }


      .marble_type_div {
            font-size: .63rem;
      }
} */