
.products-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.products-page-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
}

.products-page-product-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  width: -webkit-fill-available;
}
.Product_website_heading_text{
  font-size: 2rem;
}

.product-card-layout {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card-layout:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card-img-sec {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  background-color: #f0f0f0;
}

.product-card-img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
}

/* Name Section */
.product-card-name {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

@media (max-width:1349px){
  .products-page-product-section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   
  }
}
@media (max-width:1039px){
  .products-page-product-section {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   
  }
  .Product_website_heading_text{
    font-size: 1rem;
  }
}
@media (max-width:959px){
  .products-page-product-section {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   
  }
}
@media (max-width:879px){
  .products-page-product-section {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
   
  }
}
@media (max-width:759px){
  .products-page-product-section {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   
  }
}
@media (max-width:679px){
  .products-page-product-section {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   
  }
}
@media (max-width:599px){
  .products-page-product-section {

    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
   
  }
  .product-card-name{
    font-size: 0.8rem;
  }

 
} 
@media (max-width:389px){
  .products-page-product-section {

    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
   
  }
} 
@media (max-width:319px){
  .products-page-product-section {

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
   
  }
} 