.home_products_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/Background_images/rb_2148432200.png");
  background-position: top;
}

.home_products_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: -webkit-fill-available;
}

/* Title Styles */
.home_product_title h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
}

/* Grid Styles */
.home_product_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

/* Card Styles */
.home_product_card {
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.home_product_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Image Styles */
.home_product_image img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}

/* Text Styles */
.home_product_name {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
}

/* Button Styles */
.home_product_show_more {
  text-align: right;
  margin-top: 1.5rem;
}

.home_explore_button {
  background: #084be961;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.home_explore_button:hover {
  background: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .home_product_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .home_explore_button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}
@media (max-width:600px) {
  .home_product_image img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .home_product_grid {
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
  }
  .home_product_image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

}

