.home_products_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/Background_images/rb_2148432200.png");
  background-position: top;
}

.home_products_inner {
  display: flex;
  flex-direction: column;
}

.home_product_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.home_product_title h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
}

.home_product_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  width: 90%;
}

.home_product_card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home_product_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.home_product_image {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  background-color: #f0f0f0;
}

.home_product_card_img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
}

.home_product_name {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  color: #292929a8;
}

.home_product_show_more {
  display: flex;
  justify-content: right;
  margin-top: 5px;
  width: -webkit-fill-available;
}

.home_explore_button {
  background: #084be961;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.home_explore_button:hover {
  background: #0056b3;
}

@media (max-width: 1290px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .home_product_title h2 {
    font-size: 1.5rem;
  }

}

@media (max-width: 1159px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    width: 96%;
  }

  .home_product_title h2 {
    font-size: 1.5rem;
  }

}

@media (max-width:1041px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .home_product_title h2 {
    font-size: 1.4rem;
  }

  .home_explore_button {
    font-size: .8rem;
  }

}

@media (max-width: 1000px) {
  .home_product_grid> :last-child {
    display: none;
  }
}


@media (max-width: 879px) {

  .home_product_title h2 {
    font-size: 1.3rem;

  }

  .home_explore_button {
    font-size: .7rem;

  }
}

@media (max-width: 759px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .home_product_title h2 {
    font-size: 1.1rem;


  }
}

@media (max-width: 690px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .home_product_title h2 {
    font-size: 1.1rem;

  }

  .home_explore_button {
    font-size: .7rem;

  }

  .home_product_name {
    font-size: .8rem;

  }
}


@media (max-width: 620px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  }

}

@media (max-width: 608px) {
  .home_product_grid> :last-child {
    display: block;
  }

}

@media (max-width: 408px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

}


@media (max-width: 335px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .home_explore_button {
    font-size: .7rem;

  }
}

@media (max-width: 292px) {
  .home_product_grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .home_explore_button {
    font-size: .6rem;

  }
}