.testimonials_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: 2px;
      font-size: 1.2rem;

}

.customer_review_main {
      display: flex;
      flex-direction: row;
       gap: 15rem;
 } 

 .customer_review {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align:justify;

      width: 15vw;
      height: auto; 
      padding: 15px;
      border-radius: 1.2rem;
      border: 1px  solid rgb(7, 7, 0);
      box-shadow: 1.2px 2px rgb(113, 110, 110);

}
 
 hr{
      border: none;
      height: 3px; 
      background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 80%);
      width: 100%; 
}
.cutomer_name{
      padding-left: 20px;
}

 .img_customer{
      width: 20%;
      border-radius: 30px;

}    